altgraph==0.17.3
asgiref==3.6.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.0.1
colorama==0.4.6
colorthief==0.2.1
comtypes==1.1.14
cycler==0.11.0
distlib==0.3.6
Django
django-admin-interface==0.24.2
django-autoslug
django-ckeditor
django-colorfield
django-js-asset
django-tinymce
django-widget-tweaks
docopt
docxtopdf
filelock
fire
fonttools
geographiclib
geopy
gunicorn==20.1.0
h3==3.7.6
httplib2==0.21.0
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
jsmin==3.0.1
kiwisolver==1.4.4
lxml==4.9.2
MarkupSafe==2.1.2
mysqlclient
Pillow
uritemplate
urllib3
Werkzeug
wikipedia
xlwt
yarg
